<div class="container">
  <h1>The cocktails including <%= @ingredient.name %> are :</h1>
  <ul>
    <% @ingredient.cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
</div>
